@model String

<div class="header">
    <div class="navigate">
        <label>@Model</label>
    </div>
    <div class="tag">
        <label>Monday</label>
    </div>
    <div class="tag">
        <label>Tuesday</label>
    </div>
    <div class="tag">
        <label>Wednesday</label>
    </div>
    <div class="tag">
        <label>Thursday</label>
    </div>
    <div class="tag">
        <label>Friday</label>
    </div>
    <div class="tag">
        <label>Saturday</label>
    </div>
    <div class="tag">
        <label>Sunday</label>
    </div>
    <div class="navigate">
        <label>@Model</label>
    </div>
</div>